.footer-width-fixer {
  background: #00b2b2;
  background: -webkit-linear-gradient(#00b2b2, #1e9898);
  background:    -moz-linear-gradient(#00b2b2, #1e9898);
  background:         linear-gradient(#00b2b2, #1e9898);
}

/* Adds space around the button at the bottom of the homepage */
.fl-node-5bc0c43d4c510 .fl-button-wrap {
	margin: 3em;
}

/* Adds space between thumbnails */
.fl-post-gallery-post {
  margin: 1em;
}

@media screen and (min-width: 900px) {
  /* Centers 4 thumbnails on homepage */
  .fl-node-5a0213e562934 > .fl-node-content,
  .fl-node-5bbf5c0547902 > .fl-node-content {
    position: relative;
    left: 9em;
  }
}

@media screen and (max-width: 900px) {
  .fl-post-gallery .fl-post-gallery-post {
    float: none !important;
    height: auto !important; 
    width : auto !important;
  }
}

/* Mosu image isnt the right size */
.mosu-img {
  height: 100%;
}

.banner-img {
  align-self: center;
  margin: 4em;
}

.fl-page-content .row {
  margin-top: 0px !important;
}

.fl-post-gallery-img-horiz {
  height: auto !important;
}