@font-face {font-family: "FontMfizz";src: url("./font-mfizz.eot");src: url("./font-mfizz.eot?#iefix") format("embedded-opentype"),url("./font-mfizz.woff") format("woff"),url("./font-mfizz.ttf") format("truetype"),url("./font-mfizz.svg#font-mfizz") format("svg");font-weight: normal;font-style: normal;}
@media screen and (-webkit-min-device-pixel-ratio:0) {@font-face {font-family: "FontMfizz";src: url("./font-mfizz.svg#font-mfizz") format("svg");}}
[data-icon]:before {content: attr(data-icon);}
[data-icon]:before, .icon-3dprint:before, .icon-alpinelinux:before, .icon-angular:before, .icon-angular-alt:before, .icon-antenna:before, .icon-apache:before, .icon-archlinux:before, .icon-aws:before, .icon-azure:before, .icon-backbone:before, .icon-blackberry:before, .icon-bomb:before, .icon-bootstrap:before, .icon-c:before, .icon-cassandra:before, .icon-centos:before, .icon-clojure:before, .icon-codeigniter:before, .icon-codepen:before, .icon-coffee-bean:before, .icon-cplusplus:before, .icon-csharp:before, .icon-css:before, .icon-css3:before, .icon-css3-alt:before, .icon-d3:before, .icon-database:before, .icon-database-alt:before, .icon-database-alt2:before, .icon-debian:before, .icon-docker:before, .icon-dreamhost:before, .icon-elixir:before, .icon-elm:before, .icon-erlang:before, .icon-exherbo:before, .icon-fedora:before, .icon-fire-alt:before, .icon-freebsd:before, .icon-freecodecamp:before, .icon-gentoo:before, .icon-ghost:before, .icon-git:before, .icon-gnome:before, .icon-go:before, .icon-go-alt:before, .icon-google:before, .icon-google-alt:before, .icon-google-code:before, .icon-google-developers:before, .icon-gradle:before, .icon-grails:before, .icon-grails-alt:before, .icon-grunt:before, .icon-gulp:before, .icon-gulp-alt:before, .icon-hadoop:before, .icon-haskell:before, .icon-heroku:before, .icon-html:before, .icon-html5:before, .icon-html5-alt:before, .icon-iphone:before, .icon-java:before, .icon-java-bold:before, .icon-java-duke:before, .icon-javascript:before, .icon-javascript-alt:before, .icon-jetty:before, .icon-jquery:before, .icon-kde:before, .icon-laravel:before, .icon-line-graph:before, .icon-linux-mint:before, .icon-looking:before, .icon-magento:before, .icon-mariadb:before, .icon-maven:before, .icon-microscope:before, .icon-mobile-device:before, .icon-mobile-phone-alt:before, .icon-mobile-phone-broadcast:before, .icon-mongodb:before, .icon-mssql:before, .icon-mysql:before, .icon-mysql-alt:before, .icon-netbsd:before, .icon-nginx:before, .icon-nginx-alt:before, .icon-nginx-alt2:before, .icon-nodejs:before, .icon-npm:before, .icon-objc:before, .icon-openshift:before, .icon-oracle:before, .icon-oracle-alt:before, .icon-osx:before, .icon-perl:before, .icon-phone-alt:before, .icon-phone-gap:before, .icon-phone-retro:before, .icon-php:before, .icon-php-alt:before, .icon-playframework:before, .icon-playframework-alt:before, .icon-plone:before, .icon-postgres:before, .icon-postgres-alt:before, .icon-python:before, .icon-raspberrypi:before, .icon-reactjs:before, .icon-redhat:before, .icon-redis:before, .icon-ruby:before, .icon-ruby-on-rails:before, .icon-ruby-on-rails-alt:before, .icon-rust:before, .icon-sass:before, .icon-satellite:before, .icon-scala:before, .icon-scala-alt:before, .icon-script:before, .icon-script-alt:before, .icon-shell:before, .icon-sitefinity:before, .icon-solaris:before, .icon-splatter:before, .icon-spring:before, .icon-suse:before, .icon-svg:before, .icon-symfony:before, .icon-tomcat:before, .icon-ubuntu:before, .icon-unity:before, .icon-wireless:before, .icon-wordpress:before, .icon-x11:before {display: inline-block;font-family: "FontMfizz";font-style: normal;font-weight: normal;font-variant: normal;line-height: 1;text-decoration: inherit;text-rendering: optimizeLegibility;text-transform: none;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;}
.icon-3dprint:before {content: "";}
.icon-alpinelinux:before {content: "";}
.icon-angular:before {content: "";}
.icon-angular-alt:before {content: "";}
.icon-antenna:before {content: "";}
.icon-apache:before {content: "";}
.icon-archlinux:before {content: "";}
.icon-aws:before {content: "";}
.icon-azure:before {content: "";}
.icon-backbone:before {content: "";}
.icon-blackberry:before {content: "";}
.icon-bomb:before {content: "";}
.icon-bootstrap:before {content: "";}
.icon-c:before {content: "";}
.icon-cassandra:before {content: "";}
.icon-centos:before {content: "";}
.icon-clojure:before {content: "";}
.icon-codeigniter:before {content: "";}
.icon-codepen:before {content: "";}
.icon-coffee-bean:before {content: "";}
.icon-cplusplus:before {content: "";}
.icon-csharp:before {content: "";}
.icon-css:before {content: "";}
.icon-css3:before {content: "";}
.icon-css3-alt:before {content: "";}
.icon-d3:before {content: "";}
.icon-database:before {content: "";}
.icon-database-alt:before {content: "";}
.icon-database-alt2:before {content: "";}
.icon-debian:before {content: "";}
.icon-docker:before {content: "";}
.icon-dreamhost:before {content: "";}
.icon-elixir:before {content: "";}
.icon-elm:before {content: "";}
.icon-erlang:before {content: "";}
.icon-exherbo:before {content: "";}
.icon-fedora:before {content: "";}
.icon-fire-alt:before {content: "";}
.icon-freebsd:before {content: "";}
.icon-freecodecamp:before {content: "";}
.icon-gentoo:before {content: "";}
.icon-ghost:before {content: "";}
.icon-git:before {content: "";}
.icon-gnome:before {content: "";}
.icon-go:before {content: "";}
.icon-go-alt:before {content: "";}
.icon-google:before {content: "";}
.icon-google-alt:before {content: "";}
.icon-google-code:before {content: "";}
.icon-google-developers:before {content: "";}
.icon-gradle:before {content: "";}
.icon-grails:before {content: "";}
.icon-grails-alt:before {content: "";}
.icon-grunt:before {content: "";}
.icon-gulp:before {content: "";}
.icon-gulp-alt:before {content: "";}
.icon-hadoop:before {content: "";}
.icon-haskell:before {content: "";}
.icon-heroku:before {content: "";}
.icon-html:before {content: "";}
.icon-html5:before {content: "";}
.icon-html5-alt:before {content: "";}
.icon-iphone:before {content: "";}
.icon-java:before {content: "";}
.icon-java-bold:before {content: "";}
.icon-java-duke:before {content: "";}
.icon-javascript:before {content: "";}
.icon-javascript-alt:before {content: "";}
.icon-jetty:before {content: "";}
.icon-jquery:before {content: "";}
.icon-kde:before {content: "";}
.icon-laravel:before {content: "";}
.icon-line-graph:before {content: "";}
.icon-linux-mint:before {content: "";}
.icon-looking:before {content: "";}
.icon-magento:before {content: "";}
.icon-mariadb:before {content: "";}
.icon-maven:before {content: "";}
.icon-microscope:before {content: "";}
.icon-mobile-device:before {content: "";}
.icon-mobile-phone-alt:before {content: "";}
.icon-mobile-phone-broadcast:before {content: "";}
.icon-mongodb:before {content: "";}
.icon-mssql:before {content: "";}
.icon-mysql:before {content: "";}
.icon-mysql-alt:before {content: "";}
.icon-netbsd:before {content: "";}
.icon-nginx:before {content: "";}
.icon-nginx-alt:before {content: "";}
.icon-nginx-alt2:before {content: "";}
.icon-nodejs:before {content: "";}
.icon-npm:before {content: "";}
.icon-objc:before {content: "";}
.icon-openshift:before {content: "";}
.icon-oracle:before {content: "";}
.icon-oracle-alt:before {content: "";}
.icon-osx:before {content: "";}
.icon-perl:before {content: "";}
.icon-phone-alt:before {content: "";}
.icon-phone-gap:before {content: "";}
.icon-phone-retro:before {content: "";}
.icon-php:before {content: "";}
.icon-php-alt:before {content: "";}
.icon-playframework:before {content: "";}
.icon-playframework-alt:before {content: "";}
.icon-plone:before {content: "";}
.icon-postgres:before {content: "";}
.icon-postgres-alt:before {content: "";}
.icon-python:before {content: "";}
.icon-raspberrypi:before {content: "";}
.icon-reactjs:before {content: "";}
.icon-redhat:before {content: "";}
.icon-redis:before {content: "";}
.icon-ruby:before {content: "";}
.icon-ruby-on-rails:before {content: "";}
.icon-ruby-on-rails-alt:before {content: "";}
.icon-rust:before {content: "";}
.icon-sass:before {content: "";}
.icon-satellite:before {content: "";}
.icon-scala:before {content: "";}
.icon-scala-alt:before {content: "";}
.icon-script:before {content: "";}
.icon-script-alt:before {content: "";}
.icon-shell:before {content: "";}
.icon-sitefinity:before {content: "";}
.icon-solaris:before {content: "";}
.icon-splatter:before {content: "";}
.icon-spring:before {content: "";}
.icon-suse:before {content: "";}
.icon-svg:before {content: "";}
.icon-symfony:before {content: "";}
.icon-tomcat:before {content: "";}
.icon-ubuntu:before {content: "";}
.icon-unity:before {content: "";}
.icon-wireless:before {content: "";}
.icon-wordpress:before {content: "";}
.icon-x11:before {content: "";}